{% extends 'login/basic.html' %}
{% block title %}User page{% endblock title %}
{% block body %}

{% comment %} body starts here {% endcomment %}
{% comment %} form start here {% endcomment %}

<!-- <div class="container my-3">
  <h3>Sign up</h3>
  <form action="SignUp" method="post" enctype="multipart/form-data">{% csrf_token %}

    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="userName" name='userName' placeholder="Enter Your User Name">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
    </div>

    <div class="form-group">
      <label for="name">Phone</label>
      <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
    </div>

    <div class="form-group">
      <label for="teamName">Team Name</label>
      <input type="text" class="form-control" id="teamName" name='teamName' placeholder="Enter Your Team Name">

    </div>
    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="text" class="form-control" id="dob" name='dob' placeholder="Enter Your Date of Birth">
    </div>

    <div class="form-group">
      <label for="pass1">Enter your password</label>
      <input type="text" class="form-control" id="pass1" name='pass1' placeholder="Enter your password">
    </div>

    <div class="form-group">
      <label for="pass2">Enter your password again</label>
      <input type="text" class="form-control" id="pass2" name='pass2' placeholder="Enter your password again">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Upload your Picture</label>
      <input class="form-control" name="profilePic" type="file" id="profilePic">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Upload your ID</label>
      <input class="form-control" name="idProof" type="file" id="idProof">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div> -->


{% endblock body %}