{% extends 'login/basic.html' %}
{% block title %}User Panel{% endblock title %}
{% block isuseractive %}active{% endblock isuseractive %}
{% block body %}
<div class="container my-4">
    <table class="table table-dark table-striped-columns table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Choose from below</th>
                <th scope="col"></th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td scope="row">Check all your shifts</td>
                <td><a href="usershiftcheck" type="button" class="btn btn-primary mx-5 my-2">Check</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td scope="row">Check your payment history</td>
                <td><a href="" type="button" class="btn btn-primary mx-5 my-2">Check</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td scope="row">Check your Account details</td>
                <td><a href="" type="button" class="btn btn-primary mx-5 my-2">Check</a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td scope="row">Check your Balance</td>
                <td><a href="" type="button" class="btn btn-primary mx-5 my-2">Check</a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td scope="row">Check your payment history see all your shifts</td>
                <td><a href="" type="button" class="btn btn-primary mx-5 my-2">Check</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}